{{define "readme.tmpl"}}# {{.Config.Name}}

> {{.Config.Description}}

[![Go Version](https://img.shields.io/badge/go-1.22+-blue.svg)](https://go.dev/)
{{- if eq .Config.License "mit"}}
[![License: MIT](https://img.shields.io/badge/License-MIT-yellow.svg)](LICENSE)
{{- else if eq .Config.License "apache-2.0"}}
[![License: Apache-2.0](https://img.shields.io/badge/License-Apache_2.0-blue.svg)](LICENSE)
{{- else if eq .Config.License "gpl-3.0"}}
[![License: GPL-3.0](https://img.shields.io/badge/License-GPLv3-blue.svg)](LICENSE)
{{- end}}
{{- if .Config.Features.GitHubActions}}
[![CI](https://github.com/{{.Config.ModulePath}}/actions/workflows/ci.yml/badge.svg)](https://github.com/{{.Config.ModulePath}}/actions/workflows/ci.yml)
{{- end}}

## Overview

{{.Config.Description}}

## Getting Started

### Prerequisites

- Go 1.22 or later
- [Git](https://git-scm.com/)

### Installation

```bash
go install {{.Config.ModulePath}}@latest
```

Or clone and build locally:

```bash
git clone https://github.com/{{.Config.ModulePath}}.git
cd {{.Config.Name}}
make build
```

## Usage

```bash
{{.Config.Name}} --help
```

## Development

```bash
# Run tests
make test

# Build
make build

# Lint
make lint
```

## Contributing

{{- if .Config.IsPublic}}
Contributions are welcome! Please read [CONTRIBUTING.md](CONTRIBUTING.md) first.
{{- else}}
This is an internal project. Contact the maintainers for contribution guidelines.
{{- end}}

## License

{{- if eq (printf "%s" .Config.License) "proprietary"}}
Copyright (c) {{.Year}} {{.Config.Author}}. All rights reserved.
{{- else}}
This project is licensed under the [{{upper (printf "%s" .Config.License)}}](LICENSE) license.
{{- end}}

---

_Generated by [lazy.go](https://github.com/hadnu/lazy.go)_
{{end}}
